<router-outlet></router-outlet>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Verano" #input>
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="$dataSource()" matSort>
    <ng-container matColumnDef="idPromotion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.idPromotion}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>
    <ng-container matColumnDef="discountPercentage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DISCOUNT </th>
      <td mat-cell *matCellDef="let row"> {{row.discountPercentage}}% </td>
    </ng-container>
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> START </th>
      <td mat-cell *matCellDef="let row"> {{row.startDate | date:'shortDate'}} </td>
    </ng-container>
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> END </th>
      <td mat-cell *matCellDef="let row"> {{row.endDate | date:'shortDate'}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </th>
      <td mat-cell *matCellDef="let row"> {{row.status ? 'Active' : 'Inactive'}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> ACTIONS </th>
      <td mat-cell *matCellDef="let row">
        <button mat-flat-button [routerLink]="['edit', row.idPromotion]"><span>Edit</span><mat-icon>edit</mat-icon></button>
        <button mat-flat-button class="cancel-button" (click)="delete(row.idPromotion)"><span>Delete</span><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow><td class="mat-cell" colspan="7">No data matching "{{input.value}}"</td></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5,10,25]"></mat-paginator>
  <button mat-fab style="float: right;" routerLink="/pages/promotion/new"><mat-icon>add</mat-icon></button>
</div>
