<form [formGroup]="$form()" (submit)="operate()" class="example-container">

    <div [hidden]="true">
        <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput formControlName="idRole">
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Role name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description" formControlName="description">
    </mat-form-field>

    <button mat-flat-button type="submit">
        <span>OK</span>
        <mat-icon>done</mat-icon>
    </button>

    <button mat-flat-button type="button" class="cancel-button" routerLink="/pages/role">
        <span>Cancel</span>
        <mat-icon>cancel</mat-icon>
    </button>

</form>
