<form [formGroup]="$form()" (submit)="operate()" class="example-container">
    <app-form-header [title]="$isEdit() ? 'Editar Rol' : 'Agregar Rol'" [form]="$form()"></app-form-header>


    <div [hidden]="true">
        <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput formControlName="idRole">
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Role name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description" formControlName="description">
    </mat-form-field>

    <div class="form-actions">
    <button mat-flat-button type="submit">
        <span>Guardar</span>
        <mat-icon>done</mat-icon>
    </button>
    <button mat-flat-button type="button" class="cancel-button" routerLink="/pages/role">
        <span>Cancelar</span>
        <mat-icon>cancel</mat-icon>
    </button>
</div>

</form>
