<router-outlet></router-outlet>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Desayuno" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="$dataSource()" matSort>

    <ng-container matColumnDef="idMenu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.idMenu}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="dishQuantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DISHES </th>
      <td mat-cell *matCellDef="let row"> {{row.dishQuantity}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> PRICE </th>
      <td mat-cell *matCellDef="let row"> S/ {{row.price | number:'1.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPTION </th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> ACTIONS </th>
      <td mat-cell *matCellDef="let row">
        <button mat-flat-button [routerLink]="['edit', row.idMenu]">
          <span>Edit</span>
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-flat-button class="cancel-button" (click)="delete(row.idMenu)">
          <span>Delete</span>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="6">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of menus"></mat-paginator>

  <button mat-fab style="float: right;" routerLink="/pages/menu/new">
    <mat-icon>add</mat-icon>
  </button>
</div>
