.app-shell-with-sidebar {
    min-height: 100vh;
    display: flex;
}

.app-shell {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
}

.app-content {
    flex: 1;
}
