<form [formGroup]="$form()" (submit)="operate()" class="example-container">
    <app-form-header [title]="$isEdit() ? 'Editar Producto' : 'Agregar Producto'" [form]="$form()"></app-form-header>

    <div [hidden]="true"><mat-form-field><input matInput formControlName="idProduct"></mat-form-field></div>

    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Product name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description" formControlName="description">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput type="number" placeholder="0.00" formControlName="price">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Preparation Time (min)</mat-label>
        <input matInput type="number" placeholder="0" formControlName="preparationTime">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category" [compareWith]="compareFn">
            @for (cat of categoryService.$listChange(); track cat.idProductCategory) {
                <mat-option [value]="cat">{{cat.name}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="availability">Available</mat-checkbox>

    <div class="form-actions">
    <button mat-flat-button type="submit"><span>Guardar</span><mat-icon>done</mat-icon></button>
    <button mat-flat-button type="button" class="cancel-button" routerLink="/pages/product">
        <span>Cancelar</span><mat-icon>cancel</mat-icon>
    </button>
</div>
</form>
