<form [formGroup]="$form()" (submit)="operate()" class="example-container">
    <div [hidden]="true"><mat-form-field><input matInput formControlName="idContract"></mat-form-field></div>

    <mat-form-field>
        <mat-label>Employee</mat-label>
        <mat-select formControlName="employee" [compareWith]="compareFnEmployee">
            @for (e of employeeService.$listChange(); track e.idEmployee) {
                <mat-option [value]="e">{{e.name}} {{e.lastName}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Supplier (optional)</mat-label>
        <mat-select formControlName="supplier" [compareWith]="compareFnSupplier">
            <mat-option [value]="null">-- None --</mat-option>
            @for (s of supplierService.$listChange(); track s.idSupplier) {
                <mat-option [value]="s">{{s.companyName}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Contract Type</mat-label>
        <input matInput placeholder="SERVICIO / SUMINISTRO..." formControlName="contractType">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Salary</mat-label>
        <input matInput type="number" placeholder="0.00" formControlName="salary">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input matInput type="date" formControlName="startDate">
    </mat-form-field>

    <mat-form-field>
        <mat-label>End Date (optional)</mat-label>
        <input matInput type="date" formControlName="endDate">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Clause</mat-label>
        <input matInput placeholder="Clause..." formControlName="clause">
    </mat-form-field>

    <button mat-flat-button type="submit"><span>OK</span><mat-icon>done</mat-icon></button>
    <button mat-flat-button type="button" class="cancel-button" routerLink="/pages/contract">
        <span>Cancel</span><mat-icon>cancel</mat-icon>
    </button>
</form>
