<form [formGroup]="$form()" (submit)="operate()" class="example-container">
    <app-form-header [title]="$isEdit() ? 'Editar Promoción' : 'Agregar Promoción'" [form]="$form()"></app-form-header>

    <div [hidden]="true"><mat-form-field><input matInput formControlName="idPromotion"></mat-form-field></div>

    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre de la Promoción" formControlName="name" appNameInput>
        @if ($form().get('name')?.hasError('nameOnly') && $form().get('name')?.touched) {
            <mat-error>Solo se permiten letras y espacios.</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description" formControlName="description">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Discount (%)</mat-label>
        <input matInput type="number" placeholder="10" formControlName="discountPercentage">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Fecha Inicio</mat-label>
        <input matInput type="date" formControlName="startDate" min="2000-01-01" max="2099-12-31">
        @if ($form().get('startDate')?.hasError('yearInvalid') && $form().get('startDate')?.touched) {
            <mat-error>El año debe tener exactamente 4 dígitos.</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Fecha Fin</mat-label>
        <input matInput type="date" formControlName="endDate" min="2000-01-01" max="2099-12-31">
        @if ($form().get('endDate')?.hasError('yearInvalid') && $form().get('endDate')?.touched) {
            <mat-error>El año debe tener exactamente 4 dígitos.</mat-error>
        }
    </mat-form-field>

    <mat-checkbox formControlName="status">Active</mat-checkbox>

    <div class="form-actions">
    <button mat-flat-button type="submit"><span>Guardar</span><mat-icon>done</mat-icon></button>
    <button mat-flat-button type="button" class="cancel-button" routerLink="/pages/promotion">
        <span>Cancelar</span><mat-icon>cancel</mat-icon>
    </button>
</div>
</form>
